h1 {
  color: blue;
  padding: 0.00000000001px;
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

h2 {
  color: green;
  padding: 0.0000001px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}



a {
  color: #00B7FF;
}

img {
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
